@import './reset.less';

body {
	background-image: linear-gradient(to bottom right, #c1c2d1, #727986);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

figure {
	padding: 20px;
	background-color: white;
	border: 1px solid fade(black, 10%);
	box-shadow: 0 10px 10px 0px fade(black, 30%);
	width: max-content;
}

img {
	display: block;
	width: 50vh;
	aspect-ratio: 0.6667;
}
