@import './reset.less';

body {
	background-color: #727986;
	background-image: linear-gradient(to bottom right, #c1c2d1, #727986);
	background-attachment: fixed;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 20px;
	@media screen and (max-width: 600px) {
		height: 70vh;
	}
}

figure {
	padding: 20px;
	background-color: white;
	border: 1px solid fade(black, 10%);
	box-shadow: 0 10px 10px 0px fade(black, 30%);
	width: max-content;
	transform: rotate(-2deg);
}

img {
	display: block;
	max-width: 70vw;
	max-height: 70vh;
	aspect-ratio: 0.6667;
}
